<form>
    <div class="form-group">
    <label class="col-form-label">
      ID:
      <input type="text" class="form-control" name="id" required>
    </label>
    <br>
    <label class="col-form-label">
      Nombre:
      <input type="text"class="form-control" name="nombre" required>
    </label>
    <br>
    <label class="col-form-label">
      Apellido:
      <input type="text"class="form-control" name="apellido" required>
    </label >
    <br>
    <label class="col-form-label">
        ID:
        <input type="text" class="form-control" name="DNI" required>
      </label>
      <br>
      <label class="col-form-label">
        ID:
        <input type="date" class="form-control" name="Fecha de Ingreso" required>
      </label>
      <br>
    <label>
      Matricula:
      <input type="string"class="form-control" name="domicilio" required>
    </label>
    <br>
    <br>
    <button type="submit"class="btn btn-primary">Enviar</button>
</div>
  </form>


