
<div class = "container pt-2">
    <div class = "row justify-content-sm-center pt-5">
        <div class = " shadow round pb-3">
            <h1 class = "text-center pt-3 text-secondary">Clinica Odontologica</h1>
            <div class = "row">
            <div class ="row round pb-3">
              <h1 class = "text-center pt-3 text-secondary">Odontolgo</h1>
              <app-form></app-form>
              <h1 class = "text-center pt-3 text-secondary">Paciente</h1>
            <app-from-paciente></app-from-paciente>
            </div>

            
        </div>

    </div>

</div>


<router-outlet></router-outlet>
