<div class="container">
  <div class="row mt-3">
    <form class="col-sm" [formGroup]="formOdontolgo">
      <h2>Formulario Odontologo</h2>
      <div class="form-group mt-2">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          placeholder="Nombre"
        />
      </div>
      <div class="form-group mt-2">
        <label for="descripcion">Descripcion</label>
        <input
          type="text"
          class="form-control"
          id="apellido"
          placeholder="Apellido"
        />
      </div>

      <div class="form-group mt-2">
        <label for="Matricula">Precio</label>
        <input
          type="number"
          class="form-control"
          id="matricula"
          placeholder="Matricula"
        />
      </div>
    </form>

    <div class="col-2">
      <br>
      <h2>Listado de Odontologos</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
